<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="./style/img/logo.png" alt="" />
            </div>
            <div class="col-md-5">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#contract" name='contract' data-toggle="tab">
                            合同信息
                        </a>
                    </li>
                    <li><a href="#recharge" name='recharge' data-toggle="tab">充值明细</a></li>
                </ul>
            </div>
            <div class="col-md-3 account">
               <span class="account-name"><strong>张晓明</strong>，您好</span><a href="javascript:;" title="退出" id="_exit" class="glyphicon glyphicon-off">退出</a>
            </div>
        </div>
    </div>
</header>
