<style> body{background-color:#fff;}</style>
<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="./style/img/logo.png" alt="" />
			</div>
		</div>
	</div>
</header>
<div class="container">
	<div class="row content">
		<form class="content_in">
			<div class="content_box">
				<div class="input">
					<input type="text" maxlength="20" id="idCard" class="idCard" value="身份证号码">
				</div>
				<div class="input float input_div">
					<input maxlength="11" id="tel_num" class="tel_num" type="text" value="手机号">
					<span class="login_span"></span>
					<button type="button" id="send_check_num" class="reset_input code_button">发送验证码</button>
				</div>
				<div class="input reset_input_martop">
					<input type="text" id="check_num" class="idCard" value="验证码">
				</div>
				<div class="message" id="info">提示语信息！</div>
				<button type="button" class="btn button" id="login_submit">登 录</button>
				<!--id="login_submit"-->
			</div>
		</form>
	</div>
</div>
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p>Copyright © 2015 - 2016 充值管理 All Rights Reserved 联系我们</p>
			</div>
		</div>
	</div>
</footer>
