html{
    height:100%;
}
body{
    padding-bottom:130px;
    color:#414855;
    min-height:100%;
    position:relative;
    background-color:#f3f6f9;
}

/* Structure */
.container{
    width:996px!important;
}

/* form */
label{
    font-weight:normal;
}
input[type="text"],input[type="password"]{
    height:30px;line-height:30px;padding:0 5px;color:#999;font-size:14px;font-family:"Microsoft YaHei";border:1px solid #cecece;background:#fff;
}
select{
    padding:5px 5px;font-size:14px;line-height:33px;
}
/*.btn{
    padding:5px 15px;
    color:#fff!important;
    border-radius:20px;
}*/
.btn-submit{
    background-color:#1b96fe;
}
.btn-submit_green{
    background-color:#b3d465;
}
.btn-reset{
    background-color:#b3d465;
}
.identify{
	width: 64px;
    height: 34px;
    line-height: 34px;
    /*background-color: #b3d465;*/
    color: #fff;
    font-size: 16px;
    border-radius: 50px;
}
/* header */
#header{
    height:76px;
    line-height:76px;
    border-bottom:1px solid #e6e9ed;
    background-color:#fff;
}
#header .account{
    text-align:center;
}
#header .account-name{
    padding-right:20px;
    margin-right:20px;
    line-height:20px;
    display:inline-block;
    vertical-align: middle;
    border-right:1px solid #e6e9ed;
}
#header .account-name strong{
    color:#eb557f;
    font-weight:normal;
}
#header .glyphicon-off{
    width:18px;
    height:18px;
    overflow:hidden;
    vertical-align: middle;
    line-height:18px;
    text-decoration: none;
    color:#4c6682;
}
#header .nav-tabs{
    margin-top:13px;
    border-bottom:none;
}
#header .nav-tabs  li{
    margin:0 20px;
}
#header .nav-tabs > li > a{
    padding:0;
    line-height:60px;
    border:none;
    color:#5d6b72;
}
#header .nav-tabs > li.active > a{
    color:#1b96fe;
    border-bottom:2px solid #1b96fe;
}

/* main-body */
.main-header{
    /*height:150px;*/
    margin-bottom: 25px;
    padding-bottom:20px;
    border:1px solid #fff;
    background-color:#fff;
}
.main-header .title{
    margin-top:60px;
    margin-bottom:15px;
    font-size:20px;
}
.main-alert{
    text-align:center;
}
.main-alert .alert{
    padding:5px 25px 5px 15px;
    display:inline-block;
    border-radius:50px;
}
.main-alert .alert-warning{
    color: #eb557f;
    background-color: #f6e1e7;
    border-color: #eb557f;
}
.main-alert .alert-warning i{
    width:8px;
    height:8px;
    margin-right:10px;
    display:inline-block;
    border-radius:10px;
    background-color:#eb557f;
}
.main-search{
    margin-top:48px;
}
.table-user .table{
    text-align: center;
    font-size:16px;
    background-color:#fff;
}
.table-user .table th{
    padding-top:10px;
    padding-bottom:10px;
    text-align: center;
}
.table-user .table td{
    vertical-align: middle;
    border:1px solid #e6e9ed;
}

.table-user .table-hover>tbody>tr:hover{
    font-weight:bold;
    /*background-color:#cff0f8;*/
}
.table-user .table-hover>tbody>tr:hover td span{
    color:#1b96fe;
}

/* .pagination */
.pagination > li > a{
    color:#666;
}
.pagination > .active > a,.pagination > .active > a:hover{
    background-color: #1b96fe;
    border-color: #1b96fe;
}

/* footer */
#footer{
    width:100%;
    color:#94a4b0;
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
    position:absolute;
    bottom:0;
}

/*common*/
input,button{
    outline:none;
    border:none;
}
/*page*/
.content{
    width:996px;
    height:580px;
    background:url("../img/login-bg.png") no-repeat 0 0 #fff;
    margin-top:100px;
    /*behavior: url(pie.htc);*/
    -moz-box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    -webkit-box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    position: relative;
}
.content_in{
    width:300px;
    height:400px;
    background-color:#fff;
    border-radius:10px;
    /*behavior: url(pie.htc);*/
    -moz-box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    -webkit-box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    box-shadow:2px 2px 8px 4px rgba(34,72,88,.35);
    left:50%;
    top:104px;
    margin-left:-150px;
    position:relative;
}
.content_in #nav{
    display:flex;
}
.content_in a,.content_in a:link,.content_in a:visited,.content_in a:hover,.content_in a:active{
    text-decoration:none;
}
.content_in #nav a{
    width:150px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:12px;
    color:#1b96fe;
}
.content_in #nav a.nav_left{
    border-top-left-radius:10px;
}
.content_in #nav a.nav_right{
    border-top-right-radius:10px;
}
.content_in #nav a.on{
    background-color:#c4dcfd;
    color:#fff;
}
#contentBox{
    width:226px;
    margin:0 auto;
}
#contentBox .active{
    display:block;
}
#contentBox .box{
    width:226px;
    margin:0 auto;
    display:none;
}
#contentBox .box .input{
    font-size:14px;
    color:#5d6b72;
    height:66px;
    line-height:92px;
    border-bottom:1px solid #e6e9ed;
    position: relative;
}
.martop26{
    margin-top:26px;
}
#contentBox .box .input .idCard{
    border:none;
    color:#5d6b72;
    font-size:14px;
    width:226px;
    height:30px;
}
#contentBox .box .identifying_code,#contentBox .box .tel_sendcode{
    display:flex;
    padding-top:30px;
}
#contentBox .box .identifying_code .tel_num{
    font-size:14px;
    width:100px;
    height:30px;
    border:none;
    color:#5D6B72;
}
#contentBox .box .login_span{
    float: left;
    height:16px;
    border:1px solid #e6e9ed;
    margin-top:8px;
}
#contentBox .box .identifying_code img{
    width:80px;
    height:24px;
    margin:4px 8px 0;
}
#contentBox .box .identifying_code .refresh{
    width:16px;
    height:30px;
    background:url("../img/refresh.png") no-repeat center 8px;
}
#contentBox .box .message{
    font-size:14px;
    color:#eb557f;
    margin-top:16px;
    display: none;
}
#contentBox .box .button{
    width:166px;
    height:36px;
    background-color:#1a96fe;
    color:#fff;
    font-size:16px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border:none;
    outline:none;
    position:absolute;
    left:50%;
    margin-left:-83px;
    bottom:42px;
}
.box .tel_sendcode{
    display:flex;
}
#contentBox .box .tel_sendcode .idCard{
    width:130px;
    height:30px;
}
#contentBox .box .tel_sendcode a.code_button{
    display: inline-block;
    /*width: 84px;*/
    height: 24px;
    line-height:24px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
    font-size:12px;
    margin-top:4px;
    margin-left: 6px;
    padding: 0 14px;
}
.code_button_cur{
    background-color:#b3d465;
    color:#fff;
}
.code_button_cur_disabled{
    background-color:#ccc;
    color:#fff;
}
.code_button_cur_disabled:hover,.code_button_cur_disabled:active,a.code_button_cur_disabled:visited,a.code_button_cur_disabled:link,.code_button_cur:link,.code_button_cur:hover,.code_button_cur:visited,.code_button_cur:active{
    text-decoration: none;
    color:#FFF;
}
#contentBox label{
    line-height: 30px;
    padding-left: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: text;
}
.button:hover,.button:link,.button:visited,.button:active{
    color:#fff;
}
#mask{
	width:100%;
	height:100%;
	position:absolute;
	z-index: 999;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.3);
}
#mask_content{
	position:absolute;
	z-index: 9999;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:200px;
	height:160px;
	margin:auto;
	background-color:#fff;
	color:#666;
	text-align: center;
	line-height: 160px;
	font-size: 26px;
	border-radius: 6px;
}
.hide{
	display: none;
}
